/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
}
/* Begin of styles for the demo (you can remove them) */
a.expand {
	width: 90px;
	display: block;
	margin: 10px 0 0;
}
a.expand:hover {
	height: 500px;
}
/* End of of styles for the demo */
.wrapper {
	width: 100%;
	min-width: 1000px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 100px;
	background: #ccccff;
	/*font-style: italic;
	font-size: 15px; */
	h1{
		font-weight: lighter;
		font-size: 80px;
		color: #fff;
		text-align: center;
		padding-top: 50px;
		margin-bottom: 0;
	}
	

}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	border-right: 280px solid #FFACAA;
	position: relative;
	
	background-image: url("https://hdqwalls.com/download/minimalism-birds-mountains-trees-forest-9k-1920x1080.jpg"); 

}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
}
.content {
	padding: 0 20px;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	font-style: italic;
	font-size: 15px;
	float: right;
	margin-right: -250px;
	width: 250px;
	position: relative;
	background: #FFACAA;
	
	list-style: none;
		margin: 20px 30p;
		display: inline-block;
		font-size: 17px;
		padding: 20px 20px;
		color: #fff;
		border: 1px solid #fff;
		border-radius: 30%;
		transition: .5s;
	h1{
		font-weight: lighter;
		font-size: 80px;
		color: #fff;
		text-align: center;
		padding-top: 50px;
		margin-bottom: 0;
	}
	
	
}
	h1{
		font-weight: lighter;
		font-size: 30px;
		color: #fff;
		text-align: center;
		padding-top: 30px;
		margin-bottom: 0;
	}
li {
		list-style: none;
		margin: 10px 30p;
		display: inline-block;
		font-size: 20px;
		padding: 20px 20px;
		color: #fff;
		border: 1px solid #fff;
		border-radius: 50%;
		transition: .5s;
	}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 50px;
	background: #ccccff;
	$blue-color : #3b5998;
$gray-color : #eee;
	
}